<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
 {{ site.title }} | {{ page.title }}
    </title>
  <meta name="description" content="Dan Rader is a design leader and digital creative. He’s currently Head of Product Design with TSG, Boutique where he blends his passion for design, systems thinking, and team building to translate awesome brands into amazing digital experiences.">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

   {% include global/seo.html %}
   <script src="/assets/js/jquery.min.js"></script>
   
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=UA-84086424-1"></script>
   <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());

     gtag('config', 'UA-84086424-1');
   </script>

   <link rel="stylesheet" href="{{ "/assets/css/app.css" | prepend: site.baseurl }}">

</head>
