
<div class="nav-wrapper ">
    <div class="grid grid-bottom ">
        <div class="nav-inside-wrapper">
            <a href="#top" class="brand-logo"><img src="/uploads/DanRader.svg" alt="Dan Rader"></a>
            <input type="checkbox" id="nav" class="hidden"/>
            <label for="nav" class="nav-open"><i></i><i></i><i></i></label>
              <div class="nav-container fixed top-0 right-0 p1 z2 flex flex-column">
                    <ul class="block list-reset">
                        <a href="/work" onclick='checkoff()'><li class="nav-item jumbo">Work</li></a>

                        <a href="/thoughts" onclick='checkoff()'><li class="nav-item jumbo">Thought</li></a>

                        <a href=/pottery onclick='checkoff()'><li class="nav-item jumbo">Pottery</li></a>

                        <a href=/about onclick='checkoff()'><li class="nav-item jumbo">About</li></a>

                    </ul>
            </div>
            <div class="related-bg-color bg-after"></div>
            <div class="related-bg-color bg-before"></div>
        </div>
    </div>
</div>
