
<div class="nav-wrapper ">
    <div class="grid grid-bottom ">
        <div class="nav-inside-wrapper">
            {% assign current = page.title | downcase %}
            <a href="/" class="brand-logo {% if current contains 'home' %}nav-home{% endif %}">{% include svg/DanRader.svg %}</a>
            <input type="checkbox" id="nav" class="hidden"/>
            <label for="nav" class="nav-open {% if current contains 'home' %}nav-home{% endif %} {% if page.hide-nav == true' %}hidden{% endif %}"><i></i><i></i><i></i></label>
              <div class="nav-container fixed top-0 right-0 p1 z2 flex flex-column">
                    <ul class="block list-reset">
                        {% assign sorted_navItem = site.pages | sort:"position" %}
                        {% for navItem in sorted_navItem %}
                            {% if navItem.is-menu == true %}
                                <a href="{{ navItem.url }}" onclick='checkoff()'><li class="nav-item jumbo">{{ navItem.title }}</li></a>
                                <div class="marquee-wrap {{ navItem.title }}-marquee">
                                    <!-- {% capture title-repeat %}
                                            {% for i in (1..7) %}
                                                {{ navItem.title }}
                                            {% endfor %}
                                    {% endcapture%}
                                    {% for i in (1..8) %}
                                        <p class="jumbo ghost-type">{{ title-repeat | strip_newlines | strip }}</p>
                                    {% endfor %} -->
                                </div>
                            {% endif %}
                        {% endfor %}
                    </ul>
            </div>
            <div class="related-bg-color bg-after"></div>
            <div class="related-bg-color bg-before"></div>
        </div>
    </div>
</div>
