$transition-1: .15s ease-out;
$transition-2: .3s ease-out;

$fast-ramp: cubic-bezier(0.65, 0.02, 0.56, 0.87);

.move-vert {
    transform: translateY(var(--yu));
    @media #{$media-max-s}{
            transform: translateY(calc(var(--yu)/2));
    }
}
.move-horiz {
    transform: translateX(var(--yu));
    @media #{$media-max-s}{
            transform: translateX(calc(var(--yu)/2));
    }
}
