body {
    --prime-color: #367A69;
    --second-color: #FFEDED;
}
$dark-grey: #484848;
$white: #fff;
$blush: #FFFAFA;

.bg-white  { background-color: $white }
.bg-black  { background-color: black }
xw
.blue-text {
    color: blue;
}

.blue-bg {
    background-color: blue;
}
.blue-fill {
    fill: blue;
}

.red-text {
    color: red;
}
.red-bg {
    background-color: red;
}
.red-fill {
    fill: red;
}
