$nav-height: 188px;

.clear-nav {
    padding-top: calc(#{$nav-height} * 1.2);
    @media #{$media-max-s}{
        padding-top: calc(#{$nav-height} * 0.65)
    }
}

.body-wrap {
    overflow: hidden;
    background-color: $blush;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(60px, auto);
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    align-content: start;
    margin-right: $XLARGE;
    margin-left: $XLARGE;
    height: 100%;

    & div {
        justify-self: start;
        // display: grid;
        // justify-content: start;
        width: 100%;
    }

    @media #{$media-max-m}{
        margin-right: 32px;
        margin-left: 32px;
        grid-column-gap: 16px;
        grid-row-gap: 16px;
    }

    // @media #{$media-max-s}{
    //     margin-right: $SMALL;
    //     margin-left: $SMALL;
    // }

}

.grid-bottom {
    align-content: end;
}



.full-width-img {
    width: 100%;
    height: auto;
}
