@import url('https://fonts.googleapis.com/css?family=Asul');

@font-face {
font-family: 'LeagueMono';
src: url('/assets/fonts/LeagueMono-LightNormal.woff2') format('woff2');
src: url('/assets/fonts/LeagueMono-LightNormal.woff') format('woff');
font-weight: 100;
}
@font-face {
font-family: 'LeagueMono';
src: url('/assets/fonts/LeagueMono-RegularNormal.woff2') format('woff2');
src: url('/assets/fonts/LeagueMono-RegularNormal.woff') format('woff');
font-weight: 300;
}
@font-face {
font-family: 'LeagueMono';
src: url('/assets/fonts/LeagueMono-SemiBoldNormal.woff2') format('woff2');
src: url('/assets/fonts/LeagueMono-SemiBoldNormal.woff') format('woff');
font-weight: 500;
}
@font-face {
font-family: 'LeagueMono';
src: url('/assets/fonts/LeagueMono-ExtraBoldWide.woff2') format('woff2');
src: url('/assets/fonts/LeagueMono-ExtraBoldWide.woff') format('woff');
font-weight: 800;
}

* {
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: LeagueMono, monospace;
    font-weight: 300;
    color: $dark-grey;
}


// TEXT STYLE

.jumbo {
    font-family: 'Asul', sans-serif;
    font-size: 120px;
    letter-spacing: -1.88px;
    line-height: 1;
    font-weight: 100;

    @media #{$media-max-s}{
        font-size: 80px;
    }
}

.large {
    font-family: 'Asul', sans-serif;
    font-size: 40px;
    line-height: 1.25;
    font-weight: 100;
    @media #{$media-max-m}{
        font-size: 32px;
    }
}

.medium {
    font-family: 'Asul', sans-serif;
    font-size: 32px;
    line-height: 1.25;
    font-weight: 100;
    @media #{$media-max-s}{
        font-size: 28px;
    }
}

.small {
    font-family: LeagueMono, monospace;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: $dark-grey;
}

.label-l, .label {
    font-family: LeagueMono, monospace;
    font-weight: 800;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: $SMALL;
}

.label {
    font-size: 10px;
    line-height: 12px;
    color: black;
}

.body, p {
    font-family: LeagueMono, monospace;
    font-weight: 100;
    font-size: 16px;
    line-height: $MEDIUM;
    @media #{$media-max-s}{
        font-size: 15px;
        line-height: 32px;
    }
}

.body-s  {
    font-weight: 300;
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: $SMALL;
}


.ghost-type {
    position: absolute;
    top: -54px;
    left: 32px;
    color: transparent;
    font-weight: 100;
    -webkit-text-stroke: 1px #e4e4e4;
    text-stroke: 1px #e4e4e4;
    width: 80%;
    font-size: 152px;
    line-height: .8;

    @media #{$media-max-m}{
        left: 8px;
        top: -24px;
    }
    @media #{$media-max-s}{
        display: none;
    }
}


.eyebrow {
    margin: 0 0 1rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 6px;
    font-size: 16px;
}


a {
    text-decoration: none;
    color: inherit;
}


strong {
  font-weight: 700;
}

ul, ol {
    margin-left: 27px;
}

li p {
  margin-bottom: 11px;
  color: black;
  line-height: 26px !important;
}

.text-link {
    @media #{$media-max-s}{
        background-position: 0 30px;
        background-size: 23px 9px;
    }
}

hr {
  opacity: 0.4;
}
