// Refactor me in other places

.noise {
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background-image: url(/uploads/noise.png);
        background-blend-mode: exclusion;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .5;
        z-index: 1;
    }
}

// Move me somewhere more global


//////////

.about-outer {
    min-height: 100vh;
    padding-top: 188px;
    display: flex;
    align-items: center;

    width: 100vw;
    background-color: $second-color;
    background-image: url(/uploads/thinker_ext.jpg), url(/uploads/thinker_ext2.jpg);
    background-size: cover;
    background-position: right;
    background-blend-mode: overlay;
    position: relative;
    background-repeat: no-repeat;
    transition: .2s all ease-out;

    @media #{$media-max-m}{
        background-image: url(/uploads/thinker_ext.jpg);
        background-position: 70% 100% !important;
    }

    @media #{$media-max-s} {
        padding-top: 60px;
    }
}

.about-inner {
    position: relative;
    z-index: 5;
    padding: 80px 0 160px;
    width: 100%;

    @media #{$media-max-s}{
        padding: 60px 0 0;
        padding-bottom: $MEDIUM;
    }

}


.about-content {
    grid-column: 2 / 12;
    max-width: 690px;

    @media #{$media-max-s}{
        grid-column: 1 / 13;
    }

    .large {
        font-size: 40px;
    }

    & h1 {
        margin-bottom: $SMALL;
        & span {
            margin-left: $TINY;
            font-size: 48px;
            top: 3px;
            position: relative;
        }
    }

    & p {
        font-size: 13px;
        line-height: 26px;
        padding-bottom: 12px;

        @media #{$media-max-s}{
            font-size: 14px;
            letter-spacing: -1px;
            font-weight: 300;
        }
    }
    & .email {
        color: transparent;
        font-weight: 100;
        -webkit-text-stroke: 1px #8a8a8a;
        text-stroke: 1px #8a8a8a;
        line-height: .8;
        font-size: 3vw;
        transform: none;
        color: transparent;
        transition: .3s all;
        cursor: pointer;
        display: block;

        @media #{$media-max-m}{
            font-size: 32px;
        }
        @media #{$media-max-s}{
            font-size: 24px;
        }

        &:hover {
            transform: translateX(4px);
            color: black;
            -webkit-text-stroke: 1px black;
        }
    }
}

.about-contact {
    position: relative;
    z-index: 3;
   }

.about-linkrow {

    & .label {
        margin-right: 24px;
        position: relative;
        display: inline-block;
        transform: none;
        transition: .3s all;

        @media #{$media-max-s}{
            margin-right: 12px;
        }

        &:after {
            content: "";
            width: 100%;
            height: 2px;
            bottom: -2px;
            position: absolute;
            bottom: -2px;
            left: 0;
            background-color: $prime-color;
            transform: scaleX(0) translateY(0);
            transform-origin: left;
            transition: .3s all;
        }

        &:hover {
            color: $prime-color;
            transform: translateY(-2px);

            &.label:after {
                transform: scaleX(1) translateY(2px);
            }
        }

        &:last-child{
            margin-right: 0;
        }
    }
    & span {
        @media #{$media-max-s}{
            display: none;
        }
    }
}
