<div class="footer_outerwrap ">
    <div class="grid">
        <div class="work-footer">
            <h3 class="medium">Dan Rader is a design leader and digital creative.</h3>
            <p class="medium">He’s currently Head of Product Design with TSG, Boutique and open for speaking engagements and the occasional freelance opportunity.</p>
            <div class="footer-email">
                <p class="label-l">say hello 👋</p>
                <a class="medium" href="mailto: howdy@danrdesign.com ?subject: Howdy!">howdy@danrdesign.com</a>
            </div>
        </div>
    </div>
</div>
