.imageWrapper {
    margin-left: $MEDIUM;
    margin-right: $MEDIUM;

    & div {
        width: 100%;
        height: 100vh;
        position: relative;

        @media #{$media-max-m}{
            height: 64vh;
        }
    }

    & img {
        object-fit: cover;
        object-position: center;
        height: 100%;
        width: 100%;
    }

    @media #{$media-max-m}{
        margin-left: $NORMAL;
        margin-right: $NORMAL;
    }

    @media #{$media-max-s}{
        margin-left: $SMALL;
        margin-right: $SMALL;
    }
}

.shorter {
  & div {
      height: 66vh;
  }
}

.grid {
  &-one {
      grid-template-columns: repeat(1, 1fr);
  }
  &-two {
      grid-template-columns: repeat(2, 1fr);

      @media #{$media-max-m}{
          grid-template-columns: repeat(1, 1fr);
      }
  }
  &-three {
    grid-template-columns: repeat(3, 1fr);

    @media #{$media-max-ml}{
        grid-template-columns: repeat(2, 1fr);
    }

    @media #{$media-max-m}{
        grid-template-columns: repeat(1, 1fr);
    }
  }
  &-five {
  }
}


// .work-contentWrap {
//     //  THIS IS A BANDADE FIX
//     p > img {
//         height: 100vh;
//     }
// }

.inlineVideo {
    padding: 24px 0;
    width: 100%;

    &:focus {
        outline: none;
    }
}

.paddedVideo {
    padding: 24px 40px;
    width: 100%;
    @media #{$media-max-m}{
        padding: 24px 24px;
    }
     @media #{$media-max-s}{
         padding: 24px 16px;
     }

    &:focus {
        outline: none;
    }
}

.fullWidth-image {
    width: 100%;
    height: auto;
    padding: 24px 0;
}

.padded-image {
    width: 100%;
    padding: 24px 40px;
    @media #{$media-max-m}{
        padding: 0 24px;
    }
     @media #{$media-max-s}{
         padding: 0 16px;
     }
}

.figure {
    display: flex;
    flex-flow: column;
    margin: auto;

    & video {
        width: 100%;
    }


    & figcaption {
        margin-top: 8px;
        font-size: 12px;
        max-width: 690px;
    }
}

.iframe-wrap {
  padding: 0 180px;

  @media #{$media-max-ml}{
      padding: 80px;
  }

  @media #{$media-max-m}{
      padding: 24px;
  }
  @media #{$media-max-s}{
      padding: 0px;
  }

  & iframe {
    width: 100%;
    height: auto;
    min-height: 100vh;
  }
}
