

.nav-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    height: $nav-height;
    z-index: 6;

    @media #{$media-max-s}{
             height: calc(#{$nav-height} / 2);
    }
}

.grid .nav-inside-wrapper {
    grid-column: 2 / 12;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & .related-bg-color {
        position: fixed;
        background-size: 100%;
    }

    & .bg-after {
        transition: 0.3s transform cubic-bezier(0.29, 0.43, 0.71, 0.68);
        color: black;
    }

    & .bg-before {
        transition: 0.3s transform cubic-bezier(0, 0, 0.84, 0.56);
        color: gray;
    }

    @media #{$media-max-s}{
        grid-column: 1 / 13;
    }
}

nav {
    margin: 144px 144px 0;

      & li {
          color: white;
          font-size: 2.4rem;
          margin-bottom: 1rem;

          &:visited {
              color: white;
          }
      }

       @media #{$media-max-s}{
           height: 5rem;
           margin: 0 6%;

            & li {
                font-size: 2rem;
            }
       }
}

.brand-logo  {
    width: 2rem;
    position: relative;
    z-index: 1;

     @media #{$media-max-s}{
         width: 2rem;
         height: 50px;
     }
}


.nav--links {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-right: 1px solid #bbb;
  color: white;
  &:hover:before{
    transform: scaleX(1);
  }
}

.nav--last {
  border-right: none;
}

.temp-nav-spacing {
  margin-top: 21px;
  margin-bottom: 2px;
  margin-right: 15px;
}

.nav--links_active {
  &:after {
    content: "";
    width: 67%;
    height: 4px;
    background-color: #BCD422;
    position: absolute;
    bottom: 6px;
    left: 0;
    right: 0;
    margin: auto;
    transform-origin: center;
    z-index: -1;
    opacity: .7;
  }
}

.cart-icon {
  font-size: 17px;
  padding-right: 15px;
  transition: $transition-1;
  color: black;
  &:hover {
    color: blue;
  }
}


.nav-container  {
        position: fixed;
        height: 100%;
        width: 100%;
        z-index: 5;
        background-color: $prime-color;
        background-image: url(/uploads/noise.png);
        background-blend-mode: hard-light;
        background-size: contain;
        transform: translateY(100%);
        transition: .4s all $fast-ramp;
        padding: 7rem 9rem 6rem;
        box-sizing: border-box;
        justify-content: space-between;

        & ul {
            font-weight: 200;
            margin-left: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 80%;
            transform: translateY(6rem);
            opacity: 0;
            transition: .4s all ease-out;
            // transition-delay: .1s;
        }

        @media #{$media-max-s}{
            width: 100%;
            padding: 2rem 3rem 3rem;
        }

        & .marquee-wrap {
            display: none;
        }
    }

    .nav-open {
        width: 40px;
        height: 48px;
        cursor: pointer;
        z-index: 9;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        &:hover {
            & i {
                background: black;
                &:nth-child(1) {
                    transform: scaleX(1.1);
                }
                &:nth-child(2) {
                    transform: scaleX(1.2);
                }
                &:nth-child(3) {
                    transform: scaleX(1.35);
                }
            }
        }

        @media #{$media-max-s}{
            height: 52px;
        }

        & i {
            display: block;
            width: 100%;
            height: 2px;
            background: $dark-grey;
            border-radius: 0;
            margin-top: 8px;
            transition: .5s all;
            transform-origin: right;
            will-change: transform;

            &:nth-child(1) {
                z-index: 9;
            }
            &:nth-child(2) {
                width: 90%;
                z-index: 8;
            }
            &:nth-child(3) {
                width: 80%;
                z-index: 7;
            }
        }
    }


#nav:checked + .nav-open {
    // transform: rotate(45deg) translateY(0) translateX(0);

    & i {
        background: $second-color;
        transform-origin: center;

        &:nth-child(1) {
            transform: translateY(2px) rotate(-45deg) scaleX(1.2);
        }
        &:nth-child(2) {
            transform: translateY(-8px) rotate(45deg) scaleX(1.35);
        }
        &:nth-child(3) {
            transform: translateY(-22px) rotate(45deg) scaleX(1.35);
            opacity: 0;
            transition: .4s transform ease, .2s opacity ease;
        }
    }
}

#nav:checked ~ .nav-container {
    z-index: 5;
    transform: none;

    & ul {
        transform: none;
        opacity: 1;
    }

    & ul li {

        & a {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

#nav:checked ~ .related-bg-color {
    transform: none;
}

.hidden {
      display: none;
}


p.sign-up {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    margin-bottom: 1.2rem;
    @media #{$media-max-s}{
        font-size: 16px;
        letter-spacing: 3px;
    }
}

.nav-item {
    transform: none;
    transition: .5s all;
    -webkit-text-stroke: 1px $second-color;
    text-stroke: 1px $second-color;
    color: transparent;
    &:hover {
        transform: translateX(4px);
        color: $second-color;
    }
}

.nav-home {
    & i {
        background: $second-color;
        opacity: .8;
    }
    &:hover i {
        background: $second-color;
        opacity: 1;
    }
    & svg g {
        fill: $second-color;
    }
}
