---
layout: default
---

<div class="about-outer noise" id="top-image">
    <div class="about-inner grid">
        <div class="about-content">
            <h1 class="large">This Guy <span>👉</span></h1>
            {{content}}
            <div class="about-contact mt-normal">
                <div class="about-linkrow">
                    <a class="label" href="https://www.linkedin.com/in/danarader/"><span>Dan's</span> CV</a>
                    <a class="label" href="https://www.instagram.com/danrdesign/">Instagram</a>
                </div>
                <a class="large email mt-normal" href="mailto: howdy@danrdesign.com ?subject: Howdy!">howdy@danrdesign.com</a>
            </div>
        </div>
    </div>
    <!-- <div class="border-patrol"></div> -->
</div>
