---
layout: default
---

<div class="home-wrap border-patrol">
    <div class="home-innerWrap grid ">
            <div class="home-content">
                <a class="" href="/about/"><h1 class="jumbo">Dan <span>R</span>ader</h1></a>
                <p class="medium">is a design leader and digital creative. He’s currently Head of Product Design with TSG, Boutique where he blends his passion for design, systems thinking, and team building to translate awesome brands into amazing digital experiences. </p>
            </div>
            <div class="home-nav">
                <a class="" href="https://www.linkedin.com/in/danarader/">Dan's CV</a>
                <a class="" href="mailto:howdy@danrdesign.com">Email</a>
                <a class="" href="https://www.instagram.com/danrdesign/">Instagram</a>
            </div>
    </div>
    <div class="floater-wrap">
        <div class="shape-outerWrap">
            <img class="shape-2" src="/uploads/shape-1.svg" alt="">
        </div>
        <div class="shape-outerWrap">
            <img class="shape" src="/uploads/shape-2.svg" alt="">
        </div>
        <div class="shape-outerWrap">
            <img class="shape" src="/uploads/shape-3.svg" alt="">
        </div>
        <div class="shape-outerWrap">
            <img class="shape-2" src="/uploads/shape-4.svg" alt="">
        </div>
        <div class="shape-outerWrap">
            <img class="shape-2" src="/uploads/shape-5.svg" alt="">
        </div>
        <div class="shape-outerWrap">
            <img class="shape" src="/uploads/shape-6.svg" alt="">
        </div>
</div>
