---
layout: default
---

<div class="home-wrap border-patrol">
    <div class="home-innerWrap grid ">
            <div class="home-content">
                <h1 class="medium">Dan Rader  is a digital creative in Washington DC.</h1>
                <p class="medium">He’s currently Interactive Art Director at <a href="https://isl.co/">ISL</a>, previously  Deloitte Digital, Social Driver, and Wolf Trap.</p>
            </div>
            <div class="home-nav">
                more to come...
                    <!-- {% assign sorted_navItem = site.pages | sort:"position" %}
                    {% for navItem in sorted_navItem %}
                        {% if navItem.is-menu == true %}
                            <a href="{{ navItem.url }}" onclick='checkoff()'>{{ navItem.title | downcase }}</a>
                        {% endif %}
                    {% endfor %} -->
                </ul>
            </div>
    </div>
</div>
