---
layout: default
---

<div class="home-wrap border-patrol">
    <div class="home-innerWrap grid ">
            <div class="home-content">
                <h1 class="medium">Dan Rader  is a digital creative in Washington&nbspDC.</h1>
                <p class="medium">He’s currently Associate Creative Director at ISL where he blends his passion for design, ux, and development to translate awesome brands into amazing digital experiences. </p>
            </div>
            <div class="home-nav">
                <a class="" href="https://www.linkedin.com/in/danarader/">Dan's CV</a>
                <a class="" href="https://dribbble.com/DanRaderDesign">Dribbble</a>
                <a class="" href="https://www.instagram.com/danrdesign/">Instagram</a>
            </div>
    </div>
    <div class="floater-wrap">
        <div class="shape-outerWrap">
            <img class="shape-2" src="/uploads/shape-1.svg" alt="">
        </div>
        <div class="shape-outerWrap">
            <img class="shape" src="/uploads/shape-2.svg" alt="">
        </div>
        <div class="shape-outerWrap">
            <img class="shape" src="/uploads/shape-3.svg" alt="">
        </div>
        <div class="shape-outerWrap">
            <img class="shape-2" src="/uploads/shape-4.svg" alt="">
        </div>
        <div class="shape-outerWrap">
            <img class="shape-2" src="/uploads/shape-5.svg" alt="">
        </div>
        <div class="shape-outerWrap">
            <img class="shape" src="/uploads/shape-6.svg" alt="">
        </div>
</div>
